<div class="container justify-content-center my-5">
  <div class="row justify-content-around">
    <% @bookings.each do |booking| %>
      <div class="card-index my-3">
        <% if booking.camper.photo.attached? %>
                <%= cl_image_tag(booking.camper.photo.key,
                 width: 400, height: 300, crop: :fill) %>
               <% else %>
                <img src=<%=booking.camper.photo_url%> />
              <% end %>
        <div class="card-index container">
          <div class="row">
            <div class="col-sm">
              <h3>User:</h3>
              <h3>Email:</h3>
              <h3>Model of the camper:</h3>
              <h3>Date from:</h3>
              <h3>Date to:</h3>
              <h3>Total Cost:</h3>
            </div>
            <div class="col-sm">
              <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
              <p><%= booking.user.email %></p>
              <p><%= booking.camper.model %></p>
              <p><%= booking.date_from %></p>
              <p><%= booking.date_to %></p>
              <p><strong><%= booking.cost %> €</strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
