<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 you successfully book your camper</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
<div class="cards col-md-9">
  <%# image_tag @camper.photo_url, class: "camper_image"%>
<div class="col-md-2">
  <%= @booking.date_from %>
  <%= @booking.date_to %>
  <%= @user.first_name%>
  <%= @user.last_name %>
</div>
<div class="col-md-2">
  <%= @camper.price %>
  <%= @camper.model %>
</div>
</div>
