

      <div class="cards nodeco">
        <% @campers.each do |camper| %>
          <%= link_to camper_path(camper) do %>
            <div class="card-product">
              <% if camper.photo.attached? %>
                <%= cl_image_tag camper.photo.key %>
              <% else %>
                <img src=<%=camper.photo_url%> />
              <% end %>
              <div class="card-product-infos">
                <h4><%= camper.model %></h4>
                 <p><%= camper.description %></p>
                <h3><%= camper.price %>€</h3>
              </div>
            </div>
          <% end  %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
