<%= form_tag campers_path, method: :get do %>
  <%= text_field_tag :date_from,
    params[:date_from],
    class: "form-control datepicker",
    placeholder: "Start date"
  %>
  <%= text_field_tag :date_to,
    params[:date_to],
    class: "form-control datepicker",
    placeholder: "End date"
  %>
  <%= text_field_tag :address,
    params[:address],
    class: "form-control",
    id: "camper_address",
    placeholder: "Address"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="main-container">
  <div class="container mt-4">
    <div class="row">
    <h1 style="color:#064635; padding-top:16px;">Find a camper </h1>
      <div class="cards nodeco">
        <% @campers.each do |camper| %>
          <%= link_to camper_path(camper) do %>
            <div class="card-product">
              <% if camper.photo.attached? %>
                <%= cl_image_tag camper.photo.key %>
              <% else %>
                <img src=<%=camper.photo_url%> />
              <% end %>
              <div class="card-product-infos">
                <h2 style="padding-left: 30px; padding-bottom: 8px; padding-top:16px; color:#064635;"><%= camper.model %></h2>
                <ul>
                  <% camper.description.delete("[]\"").split(',').each_with_index do |item , i| %>
                    <li><%= item %></li>
                    <% break if i >= 6 %>
                  <% end  %>
                </ul>
                <h3 style="margin-bottom:10px;" class="price"><%= camper.price %>€</h3>
              </div>
            </div>
          <% end  %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
