
<%= render "components/search" %>
<div>
  <h1 style="color:#064635; padding-top:16px;">Find a camper </h1>
  <div class="main-container">


    <div class="cards col-12 col-lg-7">
      <% @campers.each do |camper| %>
        <%= link_to camper_path(camper) do %>
          <%= render "components/card" %>
        <% end  %>
      <% end %>
    </div>
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

</div>
