<<<<<<< HEAD
=======
<div class="container mt-4">
  <div class="row">
  <h1 style="color:#064635; padding-top:16px;">Find a camper </h1>
    <div class="cards nodeco">
      <% @campers.each do |camper| %>
        <% if camper.availability  %>
          <%= link_to camper_path(camper) do %>
            <div class="card-product">
              <% if camper.photo.attached? %>
                <%= cl_image_tag(camper.photo.key,
                 width: 400, height: 300, crop: :fill) %>
               <% else %>
                <img src="https://www.myluxury.it/img/2021/10/Volkner-Mobil-Performance-S.jpg" />
              <% end %>
              <div class="card-product-infos">
                <h2 style="padding-left: 30px; padding-bottom: 8px; padding-top:16px; color:#064635;"><%= camper.model %></h2>
                <ul>
                  <% camper.description.delete("[]\"").split(',').each_with_index do |item , i| %>
                    <li><%= item %></li>
                    <% break if i >= 6 %>
                  <% end  %>
                </ul>
                  <%= @booking.date_from %>
                  <%= @booking.date_to %>
                <h3 style="margin-bottom:10px;" class="price"><%= camper.price %>€</h3>
              </div>
            </div>
          <% end  %>
        <% end  %>
      <% end %>
    </div>
  </div>
</div>
>>>>>>> f85f4db6b0f9ee60a2df024825c82b174cc3277a
