<div class="container mt-4">
  <div class="row">
  <h1 style="color:#064635; padding-top:16px;">My Campers </h1>
    <div class="cards nodeco">
      <% @campers.each do |camper| %>
            <div class="card-product">
              <% if camper.photo.attached? %>
                <%= cl_image_tag(camper.photo.key,
                 width: 400, height: 300, crop: :fill) %>
               <% else %>
                <img src=<%=camper.photo_url%> />
              <% end %>
              <div class="card-product-infos">
                <h2 style="padding-left: 30px; padding-bottom: 8px; padding-top:16px; color:#064635;"><%= camper.model %></h2>
                <ul>
                  <% camper.description.delete("[]\"").split(',').each_with_index do |item , i| %>
                    <li><%= item %></li>
                    <% break if i >= 6 %>
                  <% end  %>
                <div class="container" mt-4>
                    <%=link_to "Remove", camper_path(camper.id), method: "delete", data: {confirm: "Are you sure?"} %>
                    <%= link_to 'edit', edit_camper_path(camper) %>
                </div>
                </ul>
                <h3 style="margin-bottom:10px;" class="price"><%= camper.price %>€</h3>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
