<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto bg-light my-4 shadow p-3 mb-5 bg-body rounded">
      <div class="flat-form mx-4 mt-4">
        <h1 style="color:#064635;" class="my-2 mb-4">Post a camper ➕</h1>
        <div class="my-2">
          <%= simple_form_for [ @user, @camper ] do |f| %>
            <%= f.input :model%>
            <%= f.input :description %>
            <%= f.input :capacity, collection: 1..7, selected: 1 %>
            <%= f.input :fuel, collection: %w[Gas Diesel Methane Eletric Hybrid Others] %>
            <%= f.input :gear, collection: %w[Manual Automatic] %>
            <%= f.input :address, input_html: { class:"camper_autocomplete" } %>
            <%= f.input :price, input_html: { min: '0', step: 'any' } %>
            <br>

            <%= f.input :photo, as: :file %>
            <%= f.submit "Add camper", class: "btn btn-success rounded-pill mt-4 mb-3 mr-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
