<div class="container mt-4">
  <div class="row">
    <h1 style="color:#064635; padding-top:16px;">Post a camper ➕</h1>

    <%= simple_form_for [ @user, @camper ] do |f| %>
      <%= f.input :model %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :availability %>
      <br>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Add camper", class: "btn btn-success rounded-pill my-5 mr-3" %>
    <% end %>
  </div>
</div>
