<div class="card-trip">
  <%= image_tag @camper.photo_url %>
  <div class="card-trip-infos">
    <div>
      <h2> <%= @camper.model %></h2>
      <ul>
              <% @camper.description.delete("[]\"").split(',').each_with_index do |item , i| %>
                <p><%= item %></p>
              <% end  %>
      </ul>

    </div>
    <h2 class="card-trip-pricing"><%= @camper.price %>€</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<br>

<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto bg-light my-4 shadow p-3 mb-5 bg-body rounded">
      <div class="flat-form mx-4 mt-4">
        <% if user_signed_in? %>
          <h2 class="font-weight-bold">Book Now</h2>
          <div class="md-form md-outline input-with-post-icon datepicker">
            <%= simple_form_for [ @user, @camper, @booking ], url: confirm_user_camper_booking_requests_path(@user, @camper)  do |f| %>

              <%= f.input :date_from, as: :date, placeholder:'select date', :order => [:day, :month, :year], :input_html => { :class => 'form_control date_picker', id: "from" } %>
              <%= f.input :date_to, as: :date, placeholder:'select date', :order => [:day, :month, :year], :input_html => { :class => 'form_control date_picker', id: "to" } %>
              <br>
              <%= f.submit "Book this camper", class: "btn btn-success" %>
              <%= display_errors_for(@booking) %>
            <% end %>
          </div>
        <% else  %>
          <p class="font-light"> To book this camper please Sign In</p>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-success' %>
        <% end  %>
      </div>
    </div>
  </div>
  </div>
