<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto bg-light my-3 shadow p-3 mb-5 bg-body rounded">
      <div class="flat-form mx-4 mt-4">
        <h1>Leave a review ⭐</h1>

          <%= simple_form_for [ @camper, @review ] do |f| %>
            <%= f.input :content %>
            <%= f.input :stars %>
            <%= f.submit "Submit review", class: "btn btn-success rounded-pill mt-5"%>
            <%= link_to "Back", campers_path, class: "btn btn-secondary rounded-pill mt-5" %>
          <% end %>

      </div>
    </div>
  </div>
</div>
